#ListaDeGastos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#htmlInterface_DetalleGasto {
  margin-top: 20px;
  background-color: rgb(1, 113, 189);

  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

#botonModificarGasto {
  margin-top: 40px;

  width: 80vw;
  height: 50px;
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;

  cursor: pointer;

  background-color: rgb(37, 182, 117);
  color: rgb(246, 252, 248);

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

#botonModificarGasto:hover {
  background-color: rgb(41, 196, 126);
}


#htmlInterface_DetalleGasto h4{
    color: rgb(246, 252, 248);
    font-size:20px;
    margin-bottom:20px;
}
#htmlInterface_DetalleGasto p{
    font-size:15px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(131, 204, 253);

}