#Resultados{
    margin-top: 15px;
}
#Resultados p{
    width: 100vw;
    text-align: center;
    padding: 5px;
}
#Resultados #Efectivo, #Resultados #DineroTotal, #Resultados #DineroRestante, #Resultados #GastosTotales{
    background-color: rgb(131, 204, 253);
    font-weight: bold;
}