#WelcomeEnglish, #WelcomeEspaniol {
    text-align: center;
    color: rgb(246, 252, 248);
    font-size: 20px;
}
#WelcomeEnglish h2, #WelcomeEspaniol h2{
    margin: 25px;
}

#WelcomeEnglish p, #WelcomeEspaniol p{
    line-height: 25px;
}

#botonAbout{
    margin-top: 25px;
    
}